*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(243, 252, 119);
    height: 100vh;
}
header{
    background-color: orange;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    color: brown;
}
nav{
    background-color: rgb(238, 108, 21);
    border: 2px solid rgb(136, 67, 67);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 5rem;
}
nav ul li{
    color: rgb(73, 13, 13);
    list-style-type: none;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: white;
}
main{
    min-height: 375px;
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: orange;
    color: rgb(112, 33, 33);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: rgb(66, 37, 9);
    transition: 0.5s;
}
.left{
    margin: 1rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.right{
    margin: 1rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.btn{
    width: 40%;
    background-color: burlywood;
    color: rgb(43, 13, 13);
    border-radius: 4px;
    height: 3rem;
    font-size: 1rem;
    border: none;
}
.btn:hover{
    background-color: brown;
    color: aliceblue;
    transition: 0.3s;
}
.galeria{
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.imagem img{
    width: 200px;
    margin: 1rem;
    box-shadow: 7px 7px 3.5px rgb(114, 69, 27);
}
.imagem img:hover{
    transform: scale(1.2);
}
.conteudo{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
    min-height: 450px;
}
.conteudo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.formulario{
    
    display: flex;
    flex-direction: row;
}
.dados{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.botao{
    background-color: burlywood;
    color: rgb(43, 13, 13);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
}
.botao:hover{
    background-color: brown;
    color: aliceblue;
    transition: 0.3s;
}